# This file defines the development requirements
# Testing & Setup
tox
pytest
black
typeguard
flake8

# Application requirements
# Note: This should be consistent with install_requires in setup.cfg
aiohttp
